{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $clients  := index $section4 "clients" }}
{{- $images    := index $section4 "images" }}
<section class="section is-medium section-secondary" name="impressions">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 style="margin-bottom: 4rem;" class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>
    <div class="column is-10 is-offset-1">
      <div class="has-text-centered">
        {{- range $images }}
        <figure class="image licensed-image" style="margin-bottom: 2rem;">
          <img loading="lazy" class="is-rounded" src="{{ printf "/images/%s" .name | relURL }}">
          {{ partial "license.html" (dict "license" .license "licenses" $.Site.Params.Licenses) }}
        </figure>
        {{- end }}
      </div>
    </div>
    <div class="content-wrapper" name="comments">
      <div class="columns is-vcentered">
        {{- range $clients }}
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              {{ .quote }}
            </blockquote>
            <div class="author">
              <img loading="lazy" src="{{ printf "/images/illustrations/faces/%s" (string .img) | relURL }}" alt=""/>
              <h5>{{ .name }}</h5>
              <span>{{ .job }}</span>
            </div>
          </figure>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>