{{- $section3   := .Site.Params.section3 }}
{{- $items   := index $section3 "items" }}
<section class="section section-feature-grey is-medium" name="products">
  {{- range $items }}
  <div class="container" name="{{ .anchor }}">
    <div class="title-wrapper has-text-centered ">
      <h2 style="margin-top: 3rem;" class="title">{{ .title }}</h2>
      <h3 class="card-content subtitle is-5 is-muted">{{ .subtitle }}</h3>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <figure class="image">
            <img loading="lazy" style="margin-top: 1rem;" class="card-image is-rounded pushed-image" src="{{ printf "/images/%s" .image | relURL }}">
          </figure>
        </div>
      </div>
    </div>
  </div>
  {{- end }}
</section>