{{- $section1 := .Site.Params.section1 }}
{{- $title    := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
{{- $tiles    := index $section1 "tiles" }}
<section class="section section-feature-grey is-medium">
  <div class="">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        {{- range $tiles }}
        <div class="column is-one-sixth">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-icon">
                <a onclick="alertify.alert('','<img style=&quot;width:100%;heigth:100%&quot; src=&quot;{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}&quot;/>').setting({
                  'basic': true,
                  'movable': false,
                  'closable': true,
                  'frameless': true,
                  'padding': false,
                  'transition': 'zoom'
                }).show();">
                  <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
                </a>
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
                <p style="color:orange;">{{ .message }}</p>
            </div>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>