{{- $section1 := .Site.Params.section1 }}
{{- $title    := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
{{- $tiles    := index $section1 "tiles" }}
<section class="section section-feature-grey is-medium" name="sorten">
  <div class="">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-gapless">
        {{- range $tiles }}
        <div class="column is-one-sixth">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-icon">
                <a>
                  <img src="{{ printf "/images/sorten/%s.jpg" .icon | relURL }}">
                </a>
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
                <p style="color:{{ .color }};">{{ .message }}</p>
            </div>
            {{- if .analysis }}
            <ul style="color: #64748b; font-size: small; text-align: left; padding-left: 1em;">
              {{- range .analysis }}
              <li>{{ . }}</li>
              {{- end }}
            </ul>
            {{- end }}
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>