{{- $section5 := .Site.Params.section5 }}
{{- $lists := index $section5 "lists" }}
<section class="section section-light-grey is-medium" name="form">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Lass uns etwas da!</h2>
        <h3 class="subtitle is-5 is-muted">Und bekomme mit wenn es frischen Honig gibt</h3>
        <div class="divider is-centered"></div>
      </div>
      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <div class="columns is-multiline">
              <div class="column is-6">
                <input id="nachricht-name" minlength="2" maxlength="40" class="input is-medium" type="text" placeholder="Dein Name">
              </div>
              <div class="column is-6">
                <input id="nachricht-mail" class="input is-medium" minlength="5" maxlength="40" type="text" placeholder="Email">
              </div>
              <div class="column is-6">
                <h3>Emails abonnieren</h3>
                {{- range $lists }}
                <p>
                  <input style="margin-top: .5rem;" id="{{ .idHtml }}" type="checkbox" class="mail" checked value="{{ .idDb }}" />
                  <label style="font-size: 1rem;" for="{{ .idHtml }}">{{ .name }}</label>
                </p>
                {{- end }}
              </div>
              <div class="column is-12">
                <textarea id="nachricht" class="textarea" rows="10" minlength="1" placeholder="Du kannst uns auch gerne eine Nachricht schicken."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <h3 class="subtitle is-5 is-muted" id="message-response">⠀</h3>
                <button id="sendmessage" class="button cta is-large primary-btn raised is-clear">Abschicken</button>
                </div>
              </div>
          </div>
        </div>
      </div>
      <figure class="image licensed-image">
        <img alt="Biene zwischen Märzenbecher" src="/images/{{ $section5.image }}" class="is-rounded"/>
        {{ partial "license.html" (dict "license" $section5.license "licenses" $.Site.Params.Licenses) }}
      </figure>
    </div>
<script src="/webhook.js" type="module"></script>
</section>